
<table class="table">
    <tr>
        <th>Nro del Pedido</th>
        <th>Fecha del Pedido</th>
        <th>Apellidos Empleado</th>
        <th>Importe del Pedido</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.IdPedido </td>
            <td> @item.FechaPedido </td>
            <td> @item.Apellidos </td>
            <td> @item.Importe </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>
